.Toastify__toast {
    border-radius: 5px;
    padding: 12px 18px 12px 12px;
}

.Toastify__toast-body {
    margin-right: 4px;
    line-height: 24px;
    font-family: NanumSquare;
    font-size: 18px;
    font-weight: 700;
}
